<%- include("header") -%>

<div class="login-box">
    <h2><%= identity %></h2>
    <form action="/" method="post">
      <div class="user-box">
        <input type="text" name="userInput"  required autocomplete="off">
        <label>Enter Name</label>
      </div>
     
     
      <button type="submit"><span></span>
        <span></span>
        <span></span>
        <span></span>Check</button>
    </form>
</div>

<%- include("footer") -%>